# STM32WL55JC Nucleo board configuration

# Copyright (c) 2020 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

config BOARD_NUCLEO_WL55JC2M4
	bool "Nucleo WL55JC2 Development Board with M4 Core"
	depends on SOC_STM32WL55XX
	select USE_STM32_HAL_GPIO
	select CPU_HAS_FPU
	select USE_STM32_HAL_SUBGHZ
	select USE_STM32_HAL_CORTEX
