# Disco STM32L496AG board configuration

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# Copyright (c) 2016 BayLibre, SAS
# Copyright (c) 2019 Centaur Analytics, Inc
# SPDX-License-Identifier: Apache-2.0

config BOARD_DISCO_L496AG
	bool "Disco L496AG Development Board"
	depends on SOC_STM32L496XX
