# STM32WL55JC Nucleo board configuration

# Copyright (c) 2020 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

if BOARD_NUCLEO_WL55JC2

config BOARD
	default "nucleo_wl55jc2"

endif # BOARD_NUCLEO_WL55JC2
