/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/l4/stm32l431Rc.dtsi>
#include <st/l4/stm32l431r(b-c)tx-pinctrl.dtsi>

/ {
	model = "ST STM32L431KC-BEARPI board";
	compatible = "st,stm32l431rc-bearpi";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,can-primary = &can1;
	};

	leds {
		compatible = "gpio-leds";
		blue_led: led_0 {
			gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
			status = "okay";
			label = "LED_0";
		};
	};
	
	buttons {
		compatible = "gpio-keys";
		key0: key_0 {
			gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
			status = "okay";
			label = "BTN_0";
		};
		key1: key_1 {
			gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
			status = "okay";
			label = "BTN_1";
		};
	};
	
	fstab { 
                compatible = "zephyr,fstab";
                lfs0: littlefs {
                        compatible = "zephyr,fstab,littlefs";
                        mount-point = "/qspi";
                        partition = <&qspi_part0>;
                        automount;
                        read-size = <16>;
                        prog-size = <16>;
                        cache-size = <64>;
                        lookahead-size = <32>;
                        block-cycles = <512>;
                };
        };

	aliases {
		led0 = &blue_led;
		btn0 = &key0;
		btn1 = &key1;
	};
};

&dma1 {
	status = "okay";
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	current-speed = <115200>;
	status = "okay";
};

&lpuart1 {
	pinctrl-0 = <&lpuart1_rx_pc0 &lpuart1_tx_pc1>;
	current-speed = <115200>;
	parity = <0>;
	status = "okay";
	wifi0: wifi@0 {
		compatible = "espressif,esp";
		label = "WIFI_0";
	};
};

&spi2 {
	pinctrl-0 = <&spi2_sck_pb13 &spi2_mosi_pc3>;
	dmas = <&dma1 5 1 0x20440 0x00>, <&dma1 4 1 0x20480 0x00>; 
    dma-names = "tx", "rx";
	status = "okay";

	/* Sitronix ST7789V LCD */
	st7789v2: st7789v2@0 {
		compatible = "sitronix,st7789v2";
		reg = <0x0>;
		spi-max-frequency = <80000000>; /* 10MHz */
		label = "ST7789V2";
		power-gpios = <&gpiob 15 GPIO_ACTIVE_LOW>;   /* DET */
		cmd-data-gpios = <&gpioc 6 GPIO_ACTIVE_LOW>;   /* DET */
		reset-gpios = <&gpioc 7 GPIO_ACTIVE_LOW>;      /* RESX reset */
		width = <240>;
		height = <240>;
		x-offset = <0>;
		y-offset = <0>;
		mdac = <0x00>;
		colmod = <0x65>;
		porch-param = [0c 0c 00 33 33];
		gctrl = <0x72>;
		vcom = <0x3d>;
		lcm = <0x2c>;
		vrhs = <0x19>;
		vdvs = <0x20>;
		pwctrl1-param = [a4 a1];
		pvgam-param = [D0 04 0D 11 13 2B 3F 54 4C 18 0D 0B 1F 23];
		nvgam-param = [D0 04 0C 11 13 2C 3F 44 51 2F 1F 1F 20 23];
	};
	
};

&sdmmc1 {
	pinctrl-0 = <&sdmmc1_ck_pc12 &sdmmc1_cmd_pd2 
		&sdmmc1_d0_pc8 &sdmmc1_d1_pc9 
		&sdmmc1_d2_pc10 &sdmmc1_d3_pc11>;
	/*
	cd-gpios = <&gpiob 15 GPIO_ACTIVE_LOW>;
	pwr-gpios = <&gpiob 15 GPIO_ACTIVE_LOW>;
	*/
	status = "okay";
};

&quadspi {
	pinctrl-0 = <&quadspi_clk_pb10 &quadspi_bk1_ncs_pb11
				 &quadspi_bk1_io0_pb1 &quadspi_bk1_io1_pb0
				 &quadspi_bk1_io2_pa7 &quadspi_bk1_io3_pa6>;
	/*
	dmas = <&dma1 1 3 0 0x03>;
	dma-names = "tx_rx";
	*/

	status = "okay";

	w25q64: qspi-nor-flash@0 {
		compatible = "st,stm32-qspi-nor";
		label = "W25Q64";
		reg = <0>;
		qspi-max-frequency = <40000000>;
		/* 64 Megabits = 8 Megabytes */
		size = <0x4000000>;
		status = "okay";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			qspi_part0: partition@0 {
				label = "QSPI_PART_0";
				reg = <0x00000000 DT_SIZE_M(8)>;
			};
		};
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "okay";
};

&timers2 {
	status = "okay";

	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pa0>;
	};
};

&can1 {
	pinctrl-0 = <&can1_rx_pa11 &can1_tx_pa12>;
	bus-speed = <125000>;
	status = "okay";
};

&rtc {
	status = "okay";
};

&lptim1 {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * Reserve the final 16 KiB for file system partition
		 */
		storage_partition: partition@3c000 {
			label = "storage";
			reg = <0x0003c000 0x00004000>;
		};
	};
};
