/*
 * Copyright (c) 2020 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/wl/stm32wl55Xc_cm4.dtsi>
#include <st/wl/stm32wl55jcix-pinctrl.dtsi>

/ {
	model = "STMicroelectronics STM32WL55JC2-NUCLEO board";
	compatible = "st,stm32wl55jc2-nucleo";

	chosen {
		zephyr,console = &lpuart1;
		zephyr,shell-uart = &lpuart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		blue_led_1: led_0 {
			gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
			label = "LED_0";
		};
		green_led_2: led_1 {
			gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>;
			label = "LED_1";
		};
		green_led_3: led_2 {
			gpios = <&gpiob 11 GPIO_ACTIVE_HIGH>;
			label = "LED_2";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		btn0: btn_0 {
			label = "BTN_0";
			gpios = <&gpioa 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		btn1: btn_1 {
			label = "BTN_1";
			gpios = <&gpioa 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		btn2: btn_2 {
			label = "BTN_2";
			gpios = <&gpioc 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
	};
	subghz {
		compatible = "gpio-subghz";
		rf_sw_ctrl1: pin_0 {
			gpios = <&gpioc 4 GPIO_ACTIVE_LOW>;
			label = "RF_SW_CTRL1";
		};
		rf_sw_ctrl2: pin_1 {
			gpios = <&gpioc 5 GPIO_ACTIVE_LOW>;
			label = "RF_SW_CTRL2";
		};
		rf_sw_ctrl3: pin_2 {
			gpios = <&gpioc 3 GPIO_ACTIVE_LOW>;
			label = "RF_SW_CTRL3";
		};
		rf_tcxo_vcc: pin_3 {
			gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;
			label = "RF_TXCO_VCC";
		};
		db_radio_rx: pin_4 {
			gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
			label = "DB_RADIO_RX";
		};
		db_radio_tx: pin_5 {
			gpios = <&gpiob 13 GPIO_ACTIVE_LOW>;
			label = "DB_RADIO_TX";
		};
	};

	aliases {
		led0 = &green_led_2;
		sw0 = &btn0;
		sw1 = &btn1;
		sw2 = &btn2;
		rfswctrl1 = &rf_sw_ctrl1;
		rfswctrl2 = &rf_sw_ctrl2;
		rfswctrl3 = &rf_sw_ctrl3;
		rftcxovcc = &rf_tcxo_vcc;
		dbradiorx = &db_radio_rx;
		dbradiotx = &db_radio_tx;
	};
};

&ipcc {
	buffer = <0x20000000 255>;
	status = "okay";
};

&lpuart1 {
	pinctrl-0 = <&lpuart1_tx_pa2 &lpuart1_rx_pa3>;
	current-speed = <115200>;
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pa12 &i2c2_sda_pa11>;
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "disabled";
};

&spi1 {
	pinctrl-0 = <&spi1_nss_pa4 &spi1_sck_pa5
		     &spi1_miso_pa6 &spi1_mosi_pa7>;
	status = "disabled";
};

&lptim1 {
	status = "okay";
};

&rtc {
	status = "okay";
};

&clk_hse {
	status = "okay";
};

&pll {
	div-m = <2>;
	mul-n = <6>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(48)>;
	cpu1-prescaler = <1>;
	cpu2-prescaler = <1>;
	ahb3-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};
