# STMicroelectronics STM32WL MCU line

# Copyright (c) 2020 STMicroelectronics.
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "STM32WLx MCU Selection"
	depends on SOC_SERIES_STM32WLX

config SOC_STM32WL55XX
	bool "STM32WL55XX"
	select CPU_HAS_FPU if CPU_CORTEX_M4
        select CPU_CORTEX_M_HAS_DWT if CPU_CORTEX_M4
	select CPU_CORTEX_M_HAS_SYSTICK if CPU_CORTEX_M0PLUS
	select CPU_CORTEX_M_HAS_VTOR if CPU_CORTEX_M0PLUS

endchoice
